.slider {
    width: 100%;
    background-color: rgb(224, 224, 224);
    height: 100%;
    padding: 0 20px;

    &__head {
        padding: 20px 0;
        font-size: 40px;
        font-weight: 700;
        color: rgb(78, 83, 100);
    }
    &__description {
        display: inline-block;
        max-width: 50%;
        font-size: 24px;
        color: rgb(78, 83, 100);
        padding-bottom: 20px;
    }

    &__list {
        width: 100%;
        display: flex; /* Используем flex вместо grid для горизонтального расположения элементов */
        overflow-x: auto; /* Используем overflow-x: auto для создания горизонтального скролла */
        scroll-snap-type: x mandatory; /* Включаем привязку к скроллу по горизонтали */
        scroll-behavior: smooth; /* Добавляем плавный скролл */
        padding: 0 20px;
    }

    &__item {
        max-width: 688px;
        flex: 0 0 auto; /* Задаем фиксированную ширину для элемента */
        scroll-snap-align: center; /* Привязываем элементы к центру при скролле */
        margin-right: 16px; /* Добавляем отступ между элементами, если нужно */
    }

    &__item img {
        max-width: 100%; /* Максимальная ширина изображения внутри элемента */
        border-radius: 220px 0 220px 0; /* Радиус скругления углов */
        object-fit: cover; /* Заполняем область img внутри блока */
    }

    &__title {
        color: rgb(78, 83, 100);
        font-weight: 600;
    }

    &__date {
        color: rgb(78, 83, 100);
        padding: 10px 0;
    }

    &__controllers {
        display: flex;
        justify-content: space-between;
        padding: 20px 5%;
    }

    &__arrow_right {
        background-color: rgb(224, 224, 224);
        border: none;
    }

    &__arrow_left {
        background-color: rgb(224, 224, 224);
        border: none;
    }
}

@media (max-width: 800px) {
    .slider {
        &__item {
            max-width: 344px;
        }
    }
}
